
.R1{
    text-align: right;
}
a:visited, a:link, a:active
{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;
}
.midja{
    text-align: center;
}
.vinstri{
    text-align: left;
}
body{
    background: blue;
}
.main{
    padding:2em;
    height:80vh; 
    text-justify: auto;
    background-image: linear-gradient(yellow,orange);
} 
.maine{
    padding:2em;
    height:100vh; 
    text-justify: auto;
    background-image: linear-gradient(green,orange);
}
.toppur{
    max-width: 70%;
    margin: 0 auto;
    padding:0.5em;
}
.container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "header header header header header"
      "main main main main main"
      "footer footer footer footer footer";
}
.h{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.7em;
    color:white;
}
.g{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:1em;
    color:white;
}
.box1{
    padding: 1em;
    background:rgba(255, 255, 255, 0.5);
}
dt{
    color: yellow;
}
.topnav {
    background-color: blue;
    overflow: hidden;
}
.topnav a {
    float: justify;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    margin: auto;
}
#top{
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background-color: black;

}

