p { font-family: Arial, Helvetica, sans-serif} /* Breytir font a paragrahps */
.Raudurlitur { Color:red;} /* litur fyrir undirfyrirsogn */
.blarlitur {color: blue; text-align: center} /* adalfyrirsogn og námskröfur med bili */
.bodyTextiGreen { color: green} /* body text i graenu */
.ljosblarlitur {color: aqua} /* Ljós blár litur */
.ElvisAdal {color: yellowgreen; text-align: center} /*Aðalsögnin í elvis er gulgræn */
.Imagine {color: hotpink; text-align: left} /* Titill i vinstra hornið */
strong {color: blueviolet} /* Svo ad allt sem byrjar i Elvis se rautt */
.dragainn { margin-left: 4em} /* dregur söng textann in til vinstri */
.midja {text-align: center}
.justify {text-align: justify}

a:link {color: yellow}
a:visited {color: gray}
a:hover {color: dodgerblue}
a:active {color: red}